<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Deny access to .env and other sensitive files
    RewriteRule \.env$ - [F,L]
    RewriteRule ^(.*/)?\.git+ - [F,L]
    RewriteRule ^(.*/)?\.env.* - [F,L]
    RewriteRule ^(.*/)?\.ht(access|passwd) - [F,L]

    # Deny access to composer files
    RewriteRule ^composer\.(lock|json)$ - [F,L]

    # Allow access to Livewire assets in public/vendor/livewire
    RewriteCond %{REQUEST_URI} ^/vendor/livewire/ [NC]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
