@layer base {
    .bg-bp_primary {
        background-color: var(--color-primary) !important;
    }
    .bg-bp_secondary {
        background-color: var(--color-secondary) !important;
    }
    .bg-bp_accent {
        background-color: var(--color-accent) !important;
    }
}
@import "tailwindcss";

@import "../../vendor/livewire/flux/dist/flux.css";


@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    .text-secondary {
        color: var(--color-secondary) !important;
    }
    .text-accent {
        color: var(--color-accent) !important;
    }
    .text-primary {
        color: var(--color-primary) !important;
    }
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[x-cloak] { display: none !important; }


/* \[:where(&)\]:size-4 {
    @apply size-4;
} */



