@layer base {
    .bg-bp_primary {
        background-color: var(--color-primary) !important;
    }
    .bg-bp_secondary {
        background-color: var(--color-secondary) !important;
    }
    .bg-bp_accent {
        background-color: var(--color-accent) !important;
    }
}
@import "tailwindcss";

@theme {
    --color-primary: #047857;
    --color-secondary: #1f2937;
    --color-accent: #06b6d4;

    --color-brand-50: #ecfdf5;
    --color-brand-100: #d1fae5;
    --color-brand-200: #a7f3d0;
    --color-brand-300: #6ee7b7;
    --color-brand-400: #34d399;
    --color-brand-500: #10b981;
    --color-brand-600: #047857;
    --color-brand-700: #065f46;
    --color-brand-800: #064e3b;
    --color-brand-900: #022c22;
}

@import "../../vendor/livewire/flux/dist/flux.css";


@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    .text-secondary {
        color: var(--color-secondary) !important;
    }
    .text-accent {
        color: var(--color-accent) !important;
    }
    .text-primary {
        color: var(--color-primary) !important;
    }
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    button,
    [role="button"],
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    a.btn,
    a.button,
    .btn,
    .button {
        cursor: pointer;
    }
}

[x-cloak] { display: none !important; }


/* \[:where(&)\]:size-4 {
    @apply size-4;
} */



